# Generated directories
/temp/
/output/
/input-cache/
/fsh-generated/
/qa/

# Local IG Publisher files
/input-cache/
/template/

# System specific files
.DS_Store
Thumbs.db

# Other common files to ignore
*.log
*.swp
*.swo
